* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* .header {

} */

.hero {
  background: url("../images/clothes-store.jpg") center no-repeat;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero > * {
  display: none;
}
