<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Avenue</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  </head>
  <body>
    <div class="container" id="content">
      <nav>
        <div class="nav-right">
          <a href="#">Home</a>
          <div class="dropdown">
            <a class="dropbtn">Collections</a>
            <div class="dropdown-content">
              <a :href="compOrder">Men</a>
              <a :href="compOrder">Women</a>
              <a :href="compOrder">kid</a>
            </div>
          </div>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
        <h1>{{titleWeb}}<span :style="{color:colorRed}">.</span></h1>
        <div class="nav-right">
          <a :href="compOrder">Store</a>
          <a href="#">Account</a>
          <a href="#">Bag | 0</a>
        </div>
      </nav>

      <header>
        <div class="hero-image">
          <div class="hero-text">
            <h1>{{titleWeb}}<span :style="{color:colorRed}">.</span></h1>
            <p>
              Making <span class="box-text">fashion</span> accessible to
              <span class="box-text">everyone.</span>
            </p>
            <div class="button-order">
              <a :href="compOrder">SHOP NOW</a>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section>
          <div class="latest-arrivals">
            <div class="title-between">
              <h2>Latest Arrivals</h2>
              <div>
                <p>Our latest product to support your daily.</p>
                <a class="btn-more" :href="compOrder">More>></a>
              </div>
            </div>
            <div
              class="product"
              v-for="(product, value, index) in productsAvenue"
              :key="index"
            >
              <img :src="product.img" :alt="product.name" />
              <p>{{product.name}}</p>
              <a class="btn-detail" :href="compOrder">Details</a>
            </div>
          </div>
        </section>
        <section>
          <div class="explore-collections">
            <div class="title-between exp-title">
              <h2>Explore Collections</h2>
              <p>Looking for exclusive collections for all from men to Kid.</p>
            </div>

            <div class="item men">
              <img
                class="img-item"
                :src="collectionsAvenue[0].img"
                :alt="collectionsAvenue[0].alt"
              />
              <a class="btn-detail" href="detail.html"
                >{{collectionsAvenue[0].name}}</a
              >
            </div>
            <div class="item women">
              <img
                class="img-item"
                :src="collectionsAvenue[1].img"
                :alt="collectionsAvenue[1].alt"
              />
              <a class="btn-detail" href="detail.html"
                >{{collectionsAvenue[1].name}}</a
              >
            </div>
            <div class="item kid">
              <img
                class="img-item"
                :src="collectionsAvenue[2].img"
                :alt="collectionsAvenue[2].alt"
              />
              <a class="btn-detail" href="detail.html"
                >{{collectionsAvenue[2].name}}</a
              >
            </div>
          </div>
        </section>

        <section>
          <div class="quotes">
            <p>
              "Your personal style is the ultimate form of self-expression, so
              don't be afraid to show the world who you are through the way you
              dress."
            </p>
          </div>
        </section>

        <section>
          <div class="cloth-season">
            <img :src="seasonCloth.img" :alt="seasonCloth.alt" />
            <p>{{seasonCloth.text}}</p>
            <a :href="compOrder">Shop Now >></a>
          </div>
        </section>

        <section class="our-store">
          <img src="images/shop-clothing.jpg" alt="" class="img-store" />
          <h2 class="h2">TO OUR STORE</h2>
          <p>
            We are excited to offer a wide selection of products for all of your
            needs. Our friendly and knowledgeable staff are always available to
            assist you with any questions or concerns you may have.
          </p>
          <a href="#" class="btn-find-str">Find Store</a>
        </section>

        <section class="ofc-online-stores">
          <h2>Official Online Store</h2>
          <div class="img-ofc-store">
            <img
              v-for="(store, index) in storeOnline"
              :key="index"
              :src="store.img"
              :alt="store.alt"
              class="ofc-store"
            />
          </div>
        </section>

        <section class="follow-us">
          <h2>Follow Us</h2>
          <p>@avenue.id</p>
          <div class="container">
            <div id="grid"></div>
          </div>
        </section>
      </main>

      <footer>
        <div class="flex-footer">
          <ul class="section-footer sosmed">
            <li>Follow us on</li>
            <li v-for="(media, index) in socmed" :key="index">
              <a href="#"><img :src="media.img" :alt="media.alt" /></a>
            </li>
          </ul>
          <ul class="section-footer">
            <li>{{titleWeb}}<span :style="{color:colorRed}">.</span></li>
            <li>Jl. Sawangan No.xx</li>
            <li>avenue@info.com</li>
            <li>(021) 2552-xxxx</li>
          </ul>

          <ul class="section-footer">
            <li><a href="#">About</a></li>
            <li><a :href="compOrder">Collections</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compOrder">Men</a></li>
            <li><a :href="compOrder">Women</a></li>
            <li><a :href="compOrder">Kid</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compOrder">Tokopedia</a></li>
            <li><a :href="compOrder">Bukalapak</a></li>
            <li><a :href="compOrder">Shopee</a></li>
            <li><a :href="compOrder">Lazada</a></li>
          </ul>
        </div>
        <p class="title-footer">
          {{titleWeb}}<span :style="{color:colorRed}">.</span>
        </p>
        <p>Copyright © 2021 MinumanQ. All Rights Reserved.</p>
      </footer>

      <script src="./js/main.js"></script>
    </div>
  </body>
</html>
