<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/orderStyle.css" />
    <title>Order</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  </head>
  <body>
    <div id="content">
      <nav>
        <div class="nav-right">
          <a href="index.html">Home</a>
          <div class="dropdown">
            <a class="dropbtn">Collections</a>
            <div class="dropdown-content">
              <a :href="compOrder">Men</a>
              <a :href="compOrder">Women</a>
              <a :href="compOrder">kid</a>
            </div>
          </div>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
        <h1>{{titleWeb}}<span :style="{color:colorRed}">.</span></h1>
        <div class="nav-right">
          <a :href="compOrder">Store</a>
          <a href="#">Account</a>
          <a @click="openModal">Bag | {{cart.length}}</a>
        </div>
      </nav>

      <main>
        <h2>Detail Produk</h2>
        <div class="container-detail">
          <div class="detail-img">
            <img :src="productsAvenue[2].img" :alt="productsAvenue[2].name" />
          </div>
          <div class="text-detail">
            <h3 class="orange title-detail">{{productsAvenue[2].name}}</h3>
            <p class="price">Rp. {{productsAvenue[2].price}}</p>
            <p class="desc-detail">
              Make your days more simply with Avenue proudly presents Avenue's
              Jacket Edition. A jeans jacket is a type of outerwear made from
              denim fabric, which is a sturdy cotton twill fabric. Jeans jackets
              are typically waist-length and have long sleeves, and they are
              often worn over other clothing for added warmth or as a fashion
              statement. They may be fastened with buttons, zippers, or a
              combination of both, and they often have pockets on the front,
              sides, or chest. Jeans jackets are casual and versatile, and they
              can be worn with a variety of outfits for a variety of occasions.
            </p>

            <div class="spek-size">
              <h3>Specification</h3>
              <ul>
                <li v-for="spec in specShirt">{{spec}}</li>
              </ul>

              <div class="size-box">
                <h3>Choose Size:</h3>
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    checked
                    @click="changeVariant(sizeShirt[0])"
                  />{{ sizeShirt[0] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[1])"
                  />{{ sizeShirt[1] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[2])"
                  />{{ sizeShirt[2] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[3])"
                  />{{ sizeShirt[3] }}</span
                >
              </div>

              <div class="stock">
                <h3>Stock :</h3>
                <p v-if="stock>3" style="color: green"><b>{{ stock }}</b></p>
                <p v-else-if="stock>=1 && stock<=3" style="color: orange">
                  <b>{{ stock }}</b>
                </p>
                <p v-else style="color: red"><b>{{ stock }}</b></p>
              </div>

              <div>
                <p v-if="stock>3" style="color: green">
                  <b>There is lot of stock, please place an order.</b>
                </p>
                <p v-else-if="stock>=1 && stock<=3" style="color: orange">
                  <b>Stock is running out, order now.</b>
                </p>
                <p v-else style="color: red"><b>Out of stock.</b></p>
              </div>

              <div class="quantity">
                <h3>Masukkan Jumlah :</h3>
                <button @click="qtyPlus" id="qty_plus" :title="plusMessage">
                  +
                </button>
                <!-- Code event and key modifiers here -->
                <input
                  type="text"
                  id="qty"
                  :value="qty"
                  @keyup.up="qtyPlus"
                  @keyup.down="qtyMinus"
                  @keyup.down="qtyMinus"
                  @keyup.enter="buyNow"
                />
                <button @click="qtyMinus" id="qty_minus" :title="minusMessage">
                  -
                </button>
              </div>
              <hr />

              <div class="container-button">
                <button @click="addCart" id="cart" class="buyButton">
                  ADD CART
                </button>

                <button
                  type="button"
                  @click="buyNow"
                  :class="{ disabledButton: !availability, buyButton: availability }"
                >
                  BUY NOW
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div id="myModal" class="modal" :style="{display:display}">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" @click="closeModal">&times;</span>
          <div
            class="cart-list"
            v-for="(keranjang, index) in cart"
            :key="index"
          >
            <img class="modal-img" :src="keranjang.img" alt="keranjang.name" />
            <p>{{keranjang.name}}</p>
            <p>{{keranjang.size}}</p>
            <p>{{keranjang.qty}}</p>
            <p>Rp. {{keranjang.price}}</p>
          </div>
          <p v-if="cart<1">Cart Empty</p>
        </div>
      </div>

      <footer>
        <div class="flex-footer">
          <ul class="section-footer sosmed">
            <li>Follow us on</li>
            <li v-for="(media, index) in socmed" :key="index">
              <a href="#"><img :src="media.img" :alt="media.alt" /></a>
            </li>
          </ul>
          <ul class="section-footer">
            <li>{{titleWeb}}<span :style="{color:colorRed}">.</span></li>
            <li>Jl. Sawangan No.xx</li>
            <li>avenue@info.com</li>
            <li>(021) 2552-xxxx</li>
          </ul>

          <ul class="section-footer">
            <li><a href="#">About</a></li>
            <li><a :href="compOrder">Collections</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compOrder">Men</a></li>
            <li><a :href="compOrder">Women</a></li>
            <li><a :href="compOrder">Kid</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compOrder">Tokopedia</a></li>
            <li><a :href="compOrder">Bukalapak</a></li>
            <li><a :href="compOrder">Shopee</a></li>
            <li><a :href="compOrder">Lazada</a></li>
          </ul>
        </div>
        <p class="title-footer">
          {{titleWeb}}<span :style="{color:colorRed}">.</span>
        </p>
        <p>Copyright © 2021 MinumanQ. All Rights Reserved.</p>
      </footer>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
