<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/orderStyle.css" />
    <title>Order</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  </head>
  <body>
    <div id="content">
      <nav>
        <div class="nav-right">
          <a href="index.html">Home</a>
          <div class="dropdown">
            <a class="dropbtn">Collections</a>
            <div class="dropdown-content">
              <a :href="compStore">Men</a>
              <a :href="compStore">Women</a>
              <a :href="compStore">kid</a>
            </div>
          </div>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
        <h1>{{titleWeb}}<span :style="{color:colorRed}">.</span></h1>
        <div class="nav-right">
          <a :href="compStore">Store</a>
          <a href="#">Account</a>
          <a href="#">Bag | {{cart}}</a>
        </div>
      </nav>

      <main>
        <h2>Detail Produk</h2>
        <div class="container-detail">
          <div class="detail-img">
            <img :src="latestArrivalsImg[2]" :alt="latestArrivalsProduct[2]" />
          </div>
          <div class="text-detail">
            <h3 class="orange title-detail">{{latestArrivalsProduct[2]}}</h3>
            <p class="price">Rp. {{price}}</p>
            <p class="desc-detail">
              Make your days more simply with Avenue proudly presents Avenue's
              Jacket Edition. A jeans jacket is a type of outerwear made from
              denim fabric, which is a sturdy cotton twill fabric. Jeans jackets
              are typically waist-length and have long sleeves, and they are
              often worn over other clothing for added warmth or as a fashion
              statement. They may be fastened with buttons, zippers, or a
              combination of both, and they often have pockets on the front,
              sides, or chest. Jeans jackets are casual and versatile, and they
              can be worn with a variety of outfits for a variety of occasions.
            </p>

            <div class="spek-size">
              <h3>Specification</h3>
              <ul>
                <li>Material: denim fabric</li>
                <li>Length: waist-length</li>
                <li>Sleeves: long</li>
                <li>Fastening: buttons, zippers, or a combination of both</li>
                <li>Pockets: front, sides, or chest</li>
                <li>Style: casual, versatile</li>
                <li>Occasions: suitable for a variety of occasions</li>
              </ul>

              <div class="size-box">
                <h3>Choose Size:</h3>
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    checked
                    @click="changeVariant(sizeShirt[0])"
                  />{{ sizeShirt[0] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[1])"
                  />{{ sizeShirt[1] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[2])"
                  />{{ sizeShirt[2] }}</span
                >
                <span class="radio"
                  ><input
                    type="radio"
                    name="size"
                    id="size"
                    @click="changeVariant(sizeShirt[3])"
                  />{{ sizeShirt[3] }}</span
                >
              </div>

              <div class="stock">
                <h3>Stock :</h3>
                <p v-if="stock>3" style="color: green"><b>{{ stock }}</b></p>
                <p v-else-if="stock>=1 && stock<=3" style="color: orange">
                  <b>{{ stock }}</b>
                </p>
                <p v-else style="color: red"><b>{{ stock }}</b></p>
              </div>

              <div>
                <p v-if="stock>3" style="color: green">
                  <b>There is lot of stock, please place an order.</b>
                </p>
                <p v-else-if="stock>=1 && stock<=3" style="color: orange">
                  <b>Stock is running out, order now.</b>
                </p>
                <p v-else style="color: red"><b>Out of stock.</b></p>
              </div>

              <div class="quantity">
                <h3>Masukkan Jumlah :</h3>
                <button @click="qtyPlus" id="qty_plus" :title="plusMessage">
                  +
                </button>
                <!-- Code event and key modifiers here -->
                <input
                  type="text"
                  id="qty"
                  :value="qty"
                  @keyup.up="qtyPlus"
                  @keyup.down="qtyMinus"
                  @keyup.down="qtyMinus"
                  @keyup.enter="buyNow"
                />
                <button @click="qtyMinus" id="qty_minus" :title="minusMessage">
                  -
                </button>
              </div>
              <hr />

              <div class="container-button">
                <button @click="addToCart" id="cart" class="buyButton">
                  ADD CART
                </button>

                <button
                  type="button"
                  @click="buyNow"
                  :class="{ disabledButton: !availability, buyButton: availability }"
                >
                  BUY NOW
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="container-related-produk">
          <h3>Related Produk</h3>

          <div class="list-produk">
            <div class="produk">
              <img src="images/sneaker-1.jpg" alt="pink sneaker" />
              <div class="produk-text">
                <p><b>Sport Running Pink</b></p>
                <p>Rp. 500.000</p>
                <a href="detail.html">Detail</a>
              </div>
            </div>

            <div class="produk">
              <img src="images/sneaker-2.jpg" alt="pink sneaker" />
              <div class="produk-text">
                <p><b>Sport running Blue</b></p>
                <p>Rp. 500.000</p>
                <a href="detail.html">Detail</a>
              </div>
            </div>

            <div class="produk">
              <img src="images/sneaker-3.jpg" alt="pink sneaker" />
              <div class="produk-text">
                <p><b>Sneaker Grey</b></p>
                <p>Rp. 1000.000</p>
                <a href="detail.html">Detail</a>
              </div>
            </div>

            <div class="produk">
              <img src="images/sneaker-4.jpg" alt="pink sneaker" />
              <div class="produk-text">
                <p><b>Sneaker Blue</b></p>
                <p>Rp. 1000.000</p>
                <a href="detail.html">Detail</a>
              </div>
            </div>
          </div>
        </div> -->
      </main>

      <footer>
        <div class="flex-footer">
          <ul class="section-footer sosmed">
            <li>Follow us on</li>
            <li>
              <a href="#"><img :src="socmedImg[0]" :alt="socmedAlt[0]" /></a>
            </li>
            <li>
              <a href="#"><img :src="socmedImg[1]" :alt="socmedAlt[1]" /></a>
            </li>
            <li>
              <a href="#"><img :src="socmedImg[2]" :alt="socmedAlt[2]" /></a>
            </li>
            <li>
              <a href="#"><img :src="socmedImg[3]" :alt="socmedAlt[3]" /></a>
            </li>
          </ul>
          <ul class="section-footer">
            <li>{{titleWeb}}<span :style="{color:colorRed}">.</span></li>
            <li>Jl. Sawangan No.xx</li>
            <li>avenue@info.com</li>
            <li>(021) 2552-xxxx</li>
          </ul>

          <ul class="section-footer">
            <li><a href="#">About</a></li>
            <li><a :href="compStore">Collections</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compStore">Men</a></li>
            <li><a :href="compStore">Women</a></li>
            <li><a :href="compStore">Kid</a></li>
          </ul>
          <ul class="section-footer">
            <li><a :href="compStore">Tokopedia</a></li>
            <li><a :href="compStore">Bukalapak</a></li>
            <li><a :href="compStore">Shopee</a></li>
            <li><a :href="compStore">Lazada</a></li>
          </ul>
        </div>
        <p class="title-footer">
          {{titleWeb}}<span :style="{color:colorRed}">.</span>
        </p>
        <p>Copyright © 2021 MinumanQ. All Rights Reserved.</p>
      </footer>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
